<!--@subject FeedBack Mail  @-->

<img
     width="180"
     height="52"
     src="{{view url='images/email/download.jpg'}}"
     alt="email icon"
 />
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr style="background-color:blue">
                    <td valign="top">
                        
                        <h1  style="font-size:22px;color:white;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans 'Hello'}}</h1><h1 style="font-size:22px;color:white;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{var name}},</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="650">
                            <tbody>

                                <tr>
                                    <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                        {{var message}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr><tr>
                    <td valign="top">
                        <h1 style="font-size:22px;color:rebeccapurple;font-weight:normal;line-height:22px;margin:0 0 11px 0;">Your Feedback :</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="650">
                            <tbody>
                                <tr>
                                    <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                        {{var feedback}}
                                      
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA;text-align:center;">
                <center>
                    <p style="font-size:12px;margin:0;">
                        <strong>{{trans "Thank you"}}</strong>
                    </p>
                </center>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
{{template config_path="design/email/footer_template"}}
