<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
    <div id="myCarousel" class="owl-carousel owl-theme">
       
    </div>
    <script type="text/x-magento-init">
    {
        "*":{
        "scroller":{}
        }
    }
    </script>